<ng-container>
  <div class="container-sm">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">CPF</th>
          <th scope="col">Email</th>
          <th scope="col">Telefone</th>
          <th scope="col">Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr scope="row" *ngFor="let client of clients!">
          <td scope="row">{{ client.id }}</td>
          <td>{{ client.name }}</td>
          <td>{{ client.cpf }}</td>
          <td>{{ client.mail }}</td>
          <td>{{ client.phone }}</td>
          <td>
            <div ngbDropdown class="d-inline-block">
              <button
                type="button"
                class="btn btn-outline-primary"
                id="dropdownBasic1"
                ngbDropdownToggle
              >
                Opções
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem (click)="updateClient(client.id!)">
                  Update
                </button>
                <button ngbDropdownItem (click)="deleteClient(client.id!)">
                  Delete
                </button>
                <button ngbDropdownItem (click)="createDemand(client.id!)">
                  Criar pedido
                </button>
                <button ngbDropdownItem (click)="clientDemands(client.id!)">
                  Pedidos
                </button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
      <div class="text-right">
        <button
          class="btn btn-primary"
          (click)="pagenate(-1)"
          [disabled]="init"
        >
          -
        </button>
        <label for="">< {{ page }} ></label>
        <button class="btn btn-primary" (click)="pagenate(+1)" [disabled]="max">
          +
        </button>
      </div>
    </table>
    <div class="conainer">
      <button type="button" class="btn btn-primary" (click)="createClient()">
        Cadastrar Cliente
      </button>
      <button type="button" class="btn btn-primary" (click)="goToProducts()">
        Consultar Produtos
      </button>
      <button type="button" class="btn btn-primary" (click)="goToDemands()">
        Consultar Pedidos
      </button>
    </div>
  </div>
</ng-container>
